@font-face {
  font-family: "Lato Regular";
  src: url("./assets/fonts/lato_regular.woff2");
}

@font-face {
  font-family: "Lato Black";
  src: url("./assets/fonts/lato_black.woff2");
}

@font-face {
  font-family: "Bree Serif Regular";
  src: url("./assets/fonts/bree_serif_regular.woff2");
}
